<!doctype html>
<html>
  <head>
    <title>Files</title>
  </head>
  <body>
    <h1>Uploaded Files</h1>

    <ol>
      {% for file in files %} 
        <li>
          {{ file.filename }}
            <a class="" onclick="showImage('./api/v1.0/show_image?filename={{file.filename}}')">
              [ showImage() ]
            </a>
          {% if file.extension == ".gif" %}
            <a class="" onclick="showGif('./api/v1.0/show_gif?filename={{file.filename}}')">
              [ showGif() ]
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ol> 

    <script>
      function showImage(uri) {
        var req = new XMLHttpRequest();
        req.addEventListener('load', console.log(this) );
        req.open('GET', uri);
        req.send();
      };
    </script>
  </body>
</html>